# SPDX-Copyright: ©  Basil Peace
# SPDX-License-Identifier: CC0-1.0
# IDEA User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/

# IDEA Legacy Project Format
*.iws

# NPM
/node_modules/

/build/
